.fit-cover {
  object-fit: cover;
}

.icon-service {
  font-size: 68px;
}

.auto-ico::hover {
  offset-rotate: 90deg;
}

.head-services {
  font-size: 35px;
  margin-top: 35px;
}

.icon-service:hover {
  cursor: pointer;
  color: #42DCA3;
  transition: 0.9s;
  transform: rotate(360deg);
  font-size: 98px;
}

.clm-ser {
  column-gap: 5px;
}

.icon-customers {
  font-size: 58px;
}

.head-customers {
  font-size: 48px;
  margin-top: 15px;
  color: #42dca3;
}

.thm-btn .fit-cover:hover .btn-customers {
  visibility: visible;
}

.btn-customers {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

. {
}

.thm-btn .fit-cover:hover .btn-customers {
  visibility: visible;
}

.text-num {
}

